
<div class="container">
  <h2>ジャンル編集画面</h2>
    <%= form_with method: :PATCH, model:@genre,local: true, url:admins_genre_path(@genre.id) do |f| %>
        <%= f.label :ジャンル %>
        <%= f.text_field :genre_name %>
          <label><%= f.radio_button :is_active, "false" %>有効</label>
          <label><%= f.radio_button :is_active, "ture" %>無効</label>
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
</div>