<h2>注文情報入力</h2>

  <%= form_with(model: @order_new, url:order_confirm_path,local: true) do |f| %>
  <!-- 空白で投稿された場合エラーメッセージを表示させる -->
    <% if @order_new.errors.any? %>
      <div class="alert alert-danger">
          <h2><%= @order_new.errors.count %>errors prohibited this obj from being saved:</h2>
          <% @order_new.errors.full_messages.each do |message| %>
          <%= message %>
          <% end %>
      </div>
    <% end %>

    <span>支払方法</span><br/>
      <%= climber_signed_in? %>
      <%= f.radio_button :pay_method, :"クレジットカード" %>
      <%= f.label :pay_method, "クレジットカード", {value: :クレジットカード, style: "display: inline-block;"} %>

      <%= f.radio_button :pay_method, :"銀行振込" %>
      <%= f.label :pay_method, "銀行振込", {value: :銀行振込, style: "display: inline-block;"} %>

    <br><span>お届け先</span><br/>

      <!-- current_climberの住所 -->
      <%= radio_button_tag('ship_num',"1") %>
      <%= f.label :ship_num, "ご自身の住所" %><br>
      <%= current_climber.post_code %><br>
      <%= current_climber.address %><br>
      <%= current_climber.name %><br>

      <!-- shipテーブルに登録している住所 -->
      <%= radio_button_tag('ship_num',"2") %>
      <%= f.label :ship_num, "登録済住所から選択" %><br>
      <%= select_tag 'ship_id', options_from_collection_for_select(@ship, :id, :view_ship_full, 1) %>

      <!-- Shipの新規登録 -->
      <%= radio_button_tag('ship_num',"3") %>
      <%= f.label :ship_num, "新しいお届け先" %><br>
      <label for="postcode">郵便番号(ハイフンなし)</label>
      <%= f.text_field :ship_postcode, id:"postcode" %><br/>
      <label for="address">住所</label>
      <%= f.text_field :ship_address, id:"address" %><br/>
      <label for="name">宛名</label>
      <%= f.text_field :ship_name, id:"name" %>
      <!-- current_climbers.idをclimbers_idとして送る -->
      <%= f.hidden_field :climbers_id, value:current_climber.id %>

      <%= f.submit "確認画面" %>
  <% end %>

