
    <div class="items">
      <div class="container">
        <div class="row">
            <div class="col-xs-3">
                 <%= render 'genres', genre: @genres %>
            </div>
                <div class="col-xs-4">
                    <div class="items_show">
                        <%= form_with method: :post, model:@cart_item_new,local: true do |f| %>
                            <div calss="item_show_image" >
                                <%= attachment_image_tag @item, :image, size: '300x250',format: "jpeg",fallback: "no_image.jpg" %>
                            </div>
                    </div>
                </div>
                 <div class="col-xs-5" >
                    <div class="item_show_text" >
                        <h3><%= @item.name %></h3>
                        <p><%= @item.description %></p>
                        <h3>¥<%= @item.price %>(税込)</h3>

                        <!-- @item.idをitem_idとして送る -->
                        <%= f.hidden_field :item_id, value:@item.id %>
                            <% if @item.is_sale_status == false %>
                                <span style="font-size:2em;">
                                    <span class="text-danger">売り切れ</span><br>
                                    <%= link_to "買い物に戻る", items_path, class:"btn btn-success glyphicon glyphicon-shopping-cart pull-right" %>
                                </span>
                            <% else %>
                                <p><%= f.select :item_quantity, ['1', '2', '3', '4', '5', '6'], {include_blank: '個数選択'},class: 'sample' %></p>
                                <span style="font-size:2em;">
                                    <span class="text-success"><%= f.submit"カートに入れる" ,class:"btn btn-primary btn-lg pull-right" %></span>
                                </span>
                            <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
  </div>
