<div class="container">
    <h1>商品　編集画面</h1>
    <div class="row">
        <div class="col-xs-5 ">
            <%= form_for @item, url:admins_item_path(@item.id) do |f| %>
            <label>
                <span class="btn btn-primary">画像を選択
                    <input type="file" style="display:none">
                </span>
                <%= f.attachment_field :image, class: "image_form" %>
            </label>
            <% if @item.errors.any? %>
              <%= @item.errors.count %>件のerrorが発生しました
              <% @item.errors.full_messages.each do |message| %>
                <%= message %>
              <% end %>
            <% end %>
        </div>
        <div class="col-xs-5">
            <table class="table table-borderless">
                <tr>
                    <th>商品名</th>
                    <td>
                        <%= f.text_field :item_name %>
                    </td>
                </tr>
                <tr>
                    <th>商品説明文</th>
                    <td>
                        <%= f.text_area :item_description %>
                    </td>
                </tr>
                <tr>
                    <th>ジャンル</th>
                    <td>
                        <%= f.collection_select :genre_id, @genres, :id, :genre_name %>
                    </td>
                </tr>
                <tr>
                    <th>税込価格</th>
                    <td>
                        ¥<%= f.text_field :item_price.to_s(:delimited) %>
                    </td>
                </tr>
                <tr>
                    <th>販売ステータス</th>
                    <td>
                        <%= f.select :is_sale_status,[['販売中',true],['売り切れ',false]],{},:class=> 'item_f.select' %>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary btn-lg pull-right">変更を保存</button>
        </div>
        <% end %>
    </div>
</div>