<div class="container">
    <div class="col-xs-8">
        <h2>会員詳細画面</h2>
        <%= form_with model:@climber, url:admins_climber_path(@climber.id) do |f| %>
        <table class="table table-hover table-borderless">
            <tr>
                <th>会員ID</th>
                <td>
                    <%= @climber.id %>
                </td>
            </tr>
            <tr>
                <th><%= f.label :name %></th>
                <td>
                    <%= f.text_field :name %>
                </td>
            </tr>
            <tr>
                <th><%= f.label :name_kana %></th>
                <td>
                    <%= f.text_field :name_kana %>
                </td>
            </tr>
            <tr>
                <th><%= f.label :post_code %></th>
                <td>
                    <%= f.text_field :post_code %>
                </td>
            </tr>
            <tr>
                <th><%= f.label :address %></th>
                <td>
                    <%= f.text_field :address %>
                </td>
            </tr>
            <tr>
                <th><%= f.label :phone_number %></th>
                <td>
                    <%= f.text_field :phone_number %>
                </td>
            </tr>
            <tr>
                <th><%= f.label :email %></th>
                <td>
                    <%= f.text_field :email %>
                </td>
            </tr>
            <tr>
                <th>会員ステータス</th>
                <td>
                    <%= f.radio_button :is_member_status, "false" %>有効
                    <%= f.radio_button :is_member_status, "ture" %>退会済み</td>
            </tr>
        </table>
        <div class="actions row">
            <%= f.submit "変更を保存する",class: "btn btn-primary" %>
        </div>
        <% end %>
    </div>
</div>